*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
/* Classes auxiliares */
.box{
    width: 100%;
    position: relative;
}

header{
    padding: 2%;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin:0 auto;
    border: outset rgb(219, 182, 88, 0.8);
}


/* Classes auxiliares */
.logo{
    align-items: flex-start;
    width: 400px;
}
.menu{
    align-items: flex-end;

}
.cent{
    padding-right: 8%;
}
.img-paralax{
    background-image: url('../imagens/3.jpg');
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: fixed;
    background-size: 100% 100%;
}

.img-paralax-apoie{
    background-image: url('../imagens/apoie.gif');
    width: 100%;
    height: 100%;
    margin-top: 0;
    position: fixed;
    background-size: 100% 100%;
}





.meio1{
    width: 100%;
    background-color: rgb(0, 0, 0, 0.2);
    padding: 10%;
    position: relative;
}

h1.bvinda{
    text-align: center;
    margin-top: 2%;
    color: rgb(255, 255, 255);
    font-size: 70px;
    padding: 2%;    
}
h4.span1{
    text-align: center;
    color: rgb(255, 255, 255);
}



.meio2{
    width: 100%;
    background-color:rgb(219, 182, 88,0.8);
    margin-top: 0;
    position: relative;
    border: outset rgb(219, 182, 88, 0.8);

}

p.desc{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    letter-spacing: 2px;
}

p.fdesc{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    font-weight: bold;
}

.information{
    width: 100%;

}
h1.info{
    text-align: center;
    color:rgb(255, 255, 255);
    background: #BF9775;
    position: relative;
    font-size: 40px;
    width: 80%;
    margin: 0 auto;
}
h4.info4{
    background: #BF9775;

    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bolder;
    border-radius: 5%;
    margin-top: 2%;
}

.informe{
    width: 100%;
    background: #BF9775;
    padding: 2%;
    margin: 0 auto;
    margin-top: 4%;
    opacity: 0.8;
    border: outset rgb(219, 182, 88, 0.8);

}

.informe2{
    width: 100%;
    background: #DBB658;
    padding: 2%;
    margin: 0 auto;
    margin-top: 4%;
    opacity: 0.8;
    border: outset rgb(219, 182, 88, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.description{
    padding: 2%;  

}
.s_a{
    padding: 2%;
    background-color:#8C4E03;
    margin: 2%;
    border-radius: 2%;
    border: outset white;
}
.n_d{
    padding: 2%;
    background-color:#BF8C2C;
    margin: 2%;
    border-radius: 2%;
    border: outset white;
}

.s_e{
    padding: 2%;
    background-color:#344021;
    margin: 2%;
    border-radius: 2%;
    border: outset white;
}

.e_l{
    padding: 2%;
    background-color:#D2CCD9;
    margin: 2%;
    border-radius: 2%;
    border: outset white;
}


.e_i{
    padding: 2%;
    background-color:#BF9775;
    margin: 2%;
    border-radius: 2%;
    border: outset white;
}


.e_e{
    padding: 2%;
    background-color:#BF8C2C;
    margin: 2%;
    border-radius: 2%;
    border: outset white;  
}


div.equipe{
    background-color: white;
    padding: 3%;
    position: relative;
    opacity: 0.9;
    border: outset rgb(219, 182, 88, 0.8);
    
}

h1.equipe{
    font-size: 34px;
    text-align: center;
    margin-top: 5%;
}
h5.equipe{
    font-size: 24px;
    text-align: center;
}


img.fp{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(171, 179, 187);
    border: outset rgb(219, 182, 88, 0.8);
}

.p1,.p2,.p3{
    margin: auto;
    margin: 5% 5% 5% 5% ;
    border: outset 2px rgb(255, 255, 255);

}

.d_c{
    margin-top: 5%;
    padding: 5%;
    background-color: rgb(255, 255, 255);

}


footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
    padding: 5%;
}

h4.footer,p.footer{
    text-align: center;
}

span.footer,a{
    text-align: center;
}
span.footer{
    margin: auto;
}

div.desc{
    width: 100%;
    margin-bottom: -5%;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 768px){
    h1.bvinda{
        font-size: 60px;
    }
    .s_a,.n_d,.e_l{
        min-width: 400px;
        max-width: 400px;
        position: relative;
    }
    
}


